<div class="col" *ngIf="country">
  <h4>Country</h4>
  <div class="card mb-2">
    <div class="row no-gutters">

      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title"> <strong>Country: </strong>{{ country.name }}</h5>
          <div class="col-sm-4">
            <img src="http://146.185.154.90:8080/restcountries/data/{{ country.alpha3Code.toLowerCase() }}.svg" alt="{{ country.name }}" style="max-width: 100%">
          </div>
          <p class="card-text"><strong>Capital: </strong> {{ country.capital }}</p>
          <p class="card-text"> <strong>Population: </strong> {{ country.population }}</p>
          <p class="card-text"> <strong>Region: </strong> {{ country.region }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


