<div class="col" *ngIf="!isFetching; else loading">
  <h4>All countries</h4>
  <a *ngFor="let country of countries" class="list-group-item list-group-item-action"
     [routerLink]="[country.alpha3Code]" routerLinkActive="active">{{ country.name }}</a>
</div>
<ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
</ng-template>

